<!DOCTYPE html>
<html>
<head>
    <title>MyEMSL Instrument Data Uploader</title>
    {% include "includes/global_styles.html" %}
</head>

<body>
    <div class="page_content">
        {% include "includes/view_header.html" %}


        {% block main %}
        <div id="login" class="page_content">
          <div id="header_container">
            <h1 class="underline">MyEMSL Login</h1>
          </div>
            <form class="form-horizontal themed" name="LoginForm" action="/login/" method="post">
                {% csrf_token %}
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

            </form>
            <section class="warning_messages">
                <span id="warning_message">{{message}}</span>
            </section>
        </div>
        {% endblock %}
        {% include "includes/view_footer_short.html" %}
    </div>
</body>
</html>
