<!DOCTYPE html>
<html>
<head>
	<title>MyEMSL Instrument Data Uploader</title>
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}/emsl_style.css">

    <script src="{{ MEDIA_URL }}jquery-1.11.2.js"></script>

    <script type="text/javascript">
        var url = '/incStatus';
        worker();
	$.ajaxSetup({cache:false});
        function worker() {
            var jqobject = $.ajax(url)
                .done(function(data){
                    var dataObj = $.parseJSON(data);
                    $('#status_text').html(JSON.stringify(dataObj.result));
                    $('#currState').html(dataObj.state);
                    if (dataObj.state == 'DONE') {
                        var statusPage = dataObj.result;
                        //var win = window.open(statusPage, '_blank');
                        window.open(statusPage, '_blank');
                        window.location.href = '/';
                        //win.focus();
                    }
                })
                .fail(function(obj, textStatus, error){
                    $('#currState').html('javascript error');
                })
                .always(function(){
                    setTimeout(worker, 1000);
                });

        };
    </script>
</head>
<body>
<table>
<tr>
	<td colspan="3" class="header">
	<span class="logo"><img src="{{ MEDIA_URL }}/emsl_logo-white.png" alt="EMSL Logo" /></span> <h1>
		MyEMSL Instrument Data Uploader
	</h1>
	</td>
</tr>

<tr>
	<td colspan="3" class="path">
    <div id="status_box"><strong>
        <span id="status_text">{{status}}</span>
    </strong></div>
	
    </td>
</tr>

<tr class="main">
	<td>
			<p>
				<strong>Date of Upload:</strong> {{current_time}} GMT 
			</p>
            <p><strong>Current State:</strong><span id="currState">Unknown</span></p>
			<p>
				<strong>User:</strong> {{user}}
			</p>
			
			<p class="tight">
                <strong>Instrument:  {{instrument}}</strong>
            </p>	
			
			<p class="tight">
                <strong>Proposal: {{proposal}}</strong>
            </p>

            <p class="tight">
                <strong>Bundle Size: {{bundle_size}} Available Disk: {{free_size}}</strong>
            </p>
            
            
			{% for meta in metaList %}
                <p class = "tight">
                    <strong>{{meta.label}}:  {{meta.value}}</strong><br />                                      
                </p>    
            {% endfor %}

            <form  action="{% url "incStatus" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}			
			    <div style="text-align: center; position: relative; margin-top: 2em;">	
                    <input type="submit" name = "Cancel Upload" value="Cancel Upload" />            
                </div>
            </form>

	</td>
</tr>

</table>
</body>
</html>
