<!DOCTYPE html>
<html>
<head>
	<title>MyEMSL Instrument Data Uploader</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}emsl_style.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}upload_style.css">

<script src="{{ MEDIA_URL }}jquery-1.11.2.js"></script>
<link href="{{ MEDIA_URL }}Select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="{{ MEDIA_URL }}Select2/dist/js/select2.min.js"></script>

<script type="text/javascript">
  $('select').select2();
</script>

</head>
<body>
<table>
<tr>
	<td colspan="3" class="header">
	<span class="logo"><img src="{{ MEDIA_URL }}/emsl_logo-white.png" alt="EMSL Logo" /></span> 
    <h1>
		MyEMSL Instrument Data Uploader
	</h1>
	</td>
</tr>
<tr>
	<td colspan="3" class="path">
	<strong>Current Location: </strong>
    {% for path in directoryHistory %}
        <a href="/modify?upDir={{forloop.counter}}"> {{ path }}</a>\
    {% endfor %}
    </td>
</tr>
<tr class="main">
	<td>
	<strong>Mark Files for Upload</strong>	
			<form action="{% url "modify" %}" method="post" enctype="multipart/form-data">
                
                {% for path in checkedDirs %}
                    <li><a href="/modify?toggleDir={{path}}"><img src="{{ MEDIA_URL }}/checkbox-checked.png" alt="checked" height="16" width="16">                     
                    </a><span class="dir">>{{ path }}</span><br /></li> 
                {% endfor %}
                
                {% for path in checkedFiles %}
                    <li><a href="/modify?toggleFile={{path}}"><img src="{{ MEDIA_URL }}/checkbox-checked.png" alt="checked" height="16" width="16">                        
                    </a><span class="file">{{ path }}</span><br /></li> 
                {% endfor %}
                                
                {% for path in uncheckedDirs %}
                    <li><a href="/modify?toggleDir={{path}}"><img src="{{ MEDIA_URL }}/checkbox-unchecked.png" alt="unchecked" height="16" width="16"></a>
                                           
                    <a class="dir" href="/modify?enterDir={{path}}">{{ path }}</a><br /></li> 
                {% endfor %}    
                
                {% for path in uncheckedFiles %}
                    <li><a href="/modify?toggleFile={{path}}"><img src="{{ MEDIA_URL }}/checkbox-unchecked.png" alt="checked" height="16" width="16">                        
                    </a><span class="file">{{ path }}</span><br /></li> 
                {% endfor %}
		
			</form>
	</td>
	<td class="toupload">
	<strong>Files to Upload</strong>
			<ul>
			        {% load app_filters %}
                    {% for path in selectedDirs %}
                            <li><a class = "dir" href="/modify?toggleDir={{path}}">{{ path }}</a></li> 
                            <li><small>{{ dirSizes|get_at_index:forloop.counter0 }}</small></li>
                    {% endfor %}
                    
                    {% for path in selectedFiles %}
                            <li><a class = "file" href="/modify?toggleFile={{path}}">{{ path }}</a></li>
                            <li><small>{{ fileSizes|get_at_index:forloop.counter0 }}</small></li>
                    {% endfor %}
			</ul>
	</td>
	<td>
	<strong>Metadata</strong>
			<p>
				<strong>User:</strong> {{user}}
				&nbsp;<span><a href="logout">Logout</a></span> 
			</p>
			
			<p class="tight">
                <strong>Instrument:  {{instrument}}</strong>
            </p>	
			
			<form  action="{% url "modify" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			
			<p class="tight">
                <strong>Proposal:</strong>
            </p>
            
            <select id ="proposal" name = "proposal" >
            
            {% for prop in proposalList %}
                {% if proposal == prop %}
                    <option selected value="{{prop}}">{{prop}}</option>
                {% else %}
                    <option value="{{prop}}">{{prop}}</option>
                {% endif %}
            {% endfor %}
            
            </select>

            <p class="tight">
                <strong>EMSL User:</strong>
            </p>
            <select id ="proposal_user" name = "proposal_user" >
            
            {% for user in user_list %}
                {% if proposal_user == user %}
                    <option selected value="{{user}}">{{user}}</option>
                {% else %}
                    <option value="{{user}}">{{user}}</option>
                {% endif %}
            {% endfor %}
            
            </select>
            
			{% for meta in metaList %}
                <p class = "tight">
                    <strong>{{meta.label}}</strong><br />
                    <input type="text" size="35" name = "{{meta.name}}" value = "{{meta.value}}">                                           
                </p>
            {% endfor %}
			
			<div style="text-align: center; position: relative; margin-top: 2em;">	
                {% if uploadEnabled %}
                    <input type="submit" name = "Upload Files & Metadata" value="Upload" />
                {% else %}
                    <input disabled type="submit" name = "Upload Files & Metadata" value="Upload" />
                {% endif %}

                <p class = "tight">
                    <strong>{{message}}</strong><br />
                </p>    
			</div>
			
			</form>

	</td>
</tr>

</table>
    <script type="text/javascript">
        $(function () {

            $('select').select2();

	        $.ajaxSetup({cache:false});
            $('#proposal').change(function() {
                this.form.submit();
            });
            $('#proposal_user').change(function () {
                this.form.submit();
            });
        });
    </script>
</body>
</html>
