language: python
python:
  - "2.7"
install: "pip install -r requirements-dev.txt"
script:
 - pylint home/*.py UploadServer/*.py uploader/*.py bundler/*.py command_line/*.py
 - coverage run --include='UploadServer/*' --include='home/*' ./home/uploader_unit_tests.py -v
 - codeclimate-test-reporter
