language: python
python:
  - "2.7"
env:
  DOCKER_COMPOSE_VERSION: 1.9.0
before_install: bash -xe travis/before-install.sh
install: "pip install -r requirements-dev.txt"
script:
 - pylint home/*.py UploadServer/*.py uploader/*.py bundler/*.py command_line/*.py
 - coverage run --include='ingest*' -m home.uploader_unit_tests -v
 - codeclimate-test-reporter
notifications:
  email:
    - dmlb2000@gmail.com
    - derek.hopkins@pnnl.gov
