<header>
    <div id="page_header">
        <div id="logo_container">
            <div id="logo_image">&nbsp;</div>
        </div>
        <div id="site_slogan">Environmental Molecular Sciences Laboratory</div>
        <div id="menu_block_container">
            <nav>
                <ul id="page_menu">
                    <li><a href="https://www.emsl.pnl.gov/emslweb/">Home</a></li>|
                    <li>About</li>|
                    <li>Science</li>|
                    <li>Capabilities</li>|
                    <li>Working With Us</li>|
                    <li>News</li>
                </ul>
            </nav>
        </div>
    </div>
</header>