<header>
    <div id="page_header">
        <div id="logo_container">
            <div id="logo_image">&nbsp;</div>
        </div>
        <div id="site_slogan">Environmental Molecular Sciences Laboratory</div>
        <div id="menu_block_container">
            <nav>
                <ul id="page_menu">
                    <li><a href="https://www.emsl.pnl.gov/emslweb/">Home</a><span class='menu_separator'>|</span></li>
                    <li>About<span class='menu_separator'>|</span></li>
                    <li>Science<span class='menu_separator'>|</span></li>
                    <li>Capabilities<span class='menu_separator'>|</span></li>
                    <li>Working With Us<span class='menu_separator'>|</span></li>
                    <li>News</li>
                </ul>
            </nav>
        </div>
    </div>
</header>