#page_header {
  width:100%;
  height:96px;
  background-color: #719500;
  padding-top:20px;
  position:relative;
}

.page_content {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

#page_menu{
  margin:0;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  font-size:14px;:white;
}

.menu_separator {
  padding: 0 0.5em;
}

#page_menu li {
  float:left;
  margin: 0em;
  list-style: none;
}

#page_menu li a {
  text-decoration:none;
  color:white;
}

#page_menu li a:visited {
  color:white;
}

#page_menu li a:hover {
  color: #ddd;
}

@media (max-width: 960px){
  .page_content{
    width:700px;
  }
  #page_menu {
    padding:0;
    font-size:11px;
  }
  .menu_separator {
    padding: 0 0.35em
  }
}

#logo_container {
  height:73px;
  max-width:174px;
  margin-left:15px;
  margin-right:10px;
}

#logo_image {
  width:100%;
  height:100%;
  background: url(../images/emsl_logo_white.png);
  background-size: 174px 73px;
}

#site_slogan {
  position:absolute;
  left:210px;
  top:48px;
  color:#FDA508;
  text-transform:uppercase;
  font-size:0.72em;
  font-weight:bold;
}

#menu_block_container {
  position:relative;
  margin-left:265px;
  bottom:0;
  padding:10px 0 10px 35px;
  margin-top:-13px;
  height:16px;
  background: #53682b url(../images/menu-angle.png) scroll no-repeat 0 0;
}

#menu_block_container nav {
  top:0;
}

#contact_info {
  margin-left:20px;
}

footer {
  margin-top:1em;
  background-color:#616265;
  position:relative;
  padding:1em 0em 1em 0em;
  color:#fff;
  line-height:6px;
  font-size:0.95em;
  border-radius:8px;

}

footer.short {
  height:20px;
}

footer.full {
  height:120px;
}

footer a {
  color:#fff;
  text-decoration:none;
}
footer a:visited {
  color:#fff;
  text-decoration:none;
}

.social-icons{
  height:16px;
  margin-left: 20px;
}

.social {
  background:url(../images/social/social_sprites.png) no-repeat top left;
  height:16px;
  width:16px;
  cursor:pointer;
  display:inline-block;
  background-size:16px;
  margin:3px;
}

.facebook {
  background-position: 0 0 !important;
}
.twitter {
  background-position: 0 20% !important;
}
.googleplus {
  background-position: 0 40% !important;
}
.linkedin {
  background-position: 0 60% !important;
}
.youtube {
  background-position: 0 80% !important;
}
.flickr {
  background-position: 0 100% !important;
}

.logo_container {
  background:url(../images/emsl-doe_combined.png) no-repeat top left;
  background-size: 346px 107px;
  position: absolute;
  top: 10px;
  height: 107px;
  width: 346px;
  right: 20px;
}

@media
(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo_container{
    background:url(../images/emsl-doe_combined@2x.png) no-repeat top left;
    background-size: 346px 107px;
  }
  .social {
    background:url(../images/social/social_sprites@2x.png) no-repeat top left;
    background-size: 16px;
  }
  #logo_image {
    background: url(../images/emsl_logo_white@2x.png);
    background-size: 174px 73px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .logo_container{
    background:url(../images/emsl-doe_combined@3x.png) no-repeat top left;
    background-size: 346px 107px;
  }
  .social {
    background:url(../images/social/social_sprites@3x.png) no-repeat top left;
    background-size: 16px;
  }
  #logo_image {
    background: url(../images/emsl_logo_white@3x.png);
    background-size: 174px 73px;
  }
}