html
{
    position: relative;
    height: 95%;
}
body
{
    padding-top: 0;
    margin: 0;
    font-family: "Open Sans","Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    letter-spacing:0px;
    height: 100vh;
    position: relative;
}

li
{
	list-style: none;
	padding-bottom: .3em;
}

.header
{
    background-color: #719500;
    border-bottom: 3px solid #000;
    height: 4em;
    padding: .5em 1em;
    margin: 0;
}
h1
{
    font: 1.5em;
}

.header h1
{
	display: inline;
	color: #fff;
	padding-left: 16px;
}

.header a
{
    color: #fff;
}
.floatright
{
    position: absolute;
    right: 4%;
    top: 2.5em;
}
.column .floatright
{
    right: 2%;
    top: .5em;
}
a
{
    color: #5381AC;
}
.wrapper
{
    position: absolute;
    top: 8em;
    bottom: 0;
    height: 80%;
    width: 100%;
    min-width: 960px;
}
.control-group 
{
    padding-top:.5em;
}

.themed {
 display:block;
 width:100%;
}

.themed label, .themed .nonfield_label {
  color: #606060;
  font-weight:600;
  font-size:0.9em;
}

.themed input[type="text"], .themed input[type="password"]{
  border: 3px solid #999;
  border-radius:3px;
  font-size:0.9em;
  padding:3px;
}

.themed fieldset {
  border: 3px solid #b2b3b5;
  -moz-border-radius: 5px;
   -webkit-border-radius:5px;
  border-radius: 5px;
  padding:0 1.25em;
  background-color:#fbfbfb;
}

.themed fieldset legend {
  padding:3px 5px 0px 5px;
  color:#656565;
  font-size:large;
  font-weight:600;
}
.themed input, .themed textarea {
  margin-bottom:10px;
  font-size:1em;
}

.outer_container {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
}

.inner_container {
  float:left;
  width:100%;
  position:relative;
  right:50%;
}

.left_block_float {
  float:left;
  width:49%;
  position:relative;
  left:50%;
  overflow:hidden;
}

.right_block_float {
  float:left;
  width:49%;
  position:relative;
  left:52%;
  overflow:hidden;
}

.left_block {
  position:absolute;
  vertical-align:top;
  left:0px;
  bottom:5px;
}

.right_block {
  display:inline-block;
  position:absolute;
  right:0px;
  bottom:5px;
  vertical-align:top;
}

.full_width_block {
  position:relative;
  width:100%;
}

.controls input {
  width:100%;
} 

#info_container {
  font-size:0.75em;
  color:#333;
  text-align:center;
}

.warning_messages {
  color:red;
  font-weight:bold;
  text-align:center;
  padding:1em;
}