.page_header {
  width:100%;
  height:96px;
  background-color: #719500;
  position:relative;
}

header.secondary .page_header{
  height:55px;
}

.site_name {
    display:none;
}

.underline {
  color:#fefefe;
  background-color: #53682B;
  margin-top:0;
  font-weight:normal;
  border-radius:0 0 8px 8px;
  font-size:1.35em;
}

.loading_status span {
    color: #216a38;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}

.logo_container {
  height:73px;
  margin-left:15px;
  margin-right:10px;
}

header.secondary .logo_container {
    height: 36px;
    width: 100%;
    margin-left: 15px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left:0;
}

.logo_image {
    display:block;
    width: 100%;
    height: 100%;
    background: url("/resources/images/emsl_logos/emsl_logo_white.png") 0% 0% / 87px 36px no-repeat;
    /*background-size: 174px 73px;*/
}

.text_logo {
    display:none;
}

.site_slogan {
  position:absolute;
  top: 35px;
  color:#FDA508;
  text-transform:uppercase;
  font-weight:bold;
  padding-left: 85px;
}

div.buttons button, div.buttons input[type="button"], div.buttons input[type="reset"], div.buttons input[type="submit"], div.buttons a {
  color:#ffffff;
  float:right;
  background-color:rgb(19, 110, 20);
  display:block;
  border:1px solid #004503;
  line-height:130%;
  font-size:0.9em;
  font-weight:bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.597656) 0 0 2px;
  transition: all 0.25s;
}
div.buttons button{
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}

div.buttons button[type]{
  padding:5px 10px 5px 7px; /* Firefox */
 line-height:17px; /* Safari */
}

*:first-child+html button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}
div.buttons img, div.buttons a img {
  margin: 0 3px -3px 0;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}
button:hover, .buttons input[type="button"]:hover, .buttons a:hover{
  background-color:#004503;
  text-decoration:none;
}

.buttons a {
  padding: 4px 10px 3px 7px;
}

.cart_tree thead th {
    color: #efefef;
    background-color: #666;
    text-align: left;

}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .logo_image {
        background: url("/resources/images/emsl_logos/emsl_logo_white@2x.png") 0% 0% / 87px 36px no-repeat;
        /*background-size: 174px 73px;*/
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .logo_image {
        background: url("/resources/images/emsl_logos/emsl_logo_white@3x.png") 0% 0% / 87px 36px no-repeat;
        /*background-size: 174px 73px;*/
    }
}
